# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.x

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Exclude Material of Class in respect to the copy right of course materials
Lectures/
Lessons/

# Exclude editor specific settings
.vscode/

# Generated artifects
*.data
Exec/week11/data/*.json
Exec/week11/modernism_meta_text/
Exec/week11/modernism_word_count/
Exec/week11/modernism_word_filt/
assignment3/question2/Amazon/*.zip
assignment3/question2/Amazon/Amazon_Books/
assignment3/question2/Amazon/Amazon_Digital_Music/
assignment3/question2/Amazon/Amazon_Movies_and_TV/
